html {
    font-size: 62.5px;
    box-sizing: border-box;

}



.calculator {
    border: 1px solid #ccc;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    transform: translate(-50%, -50%);

}

.screen {
    text-align: right;
    border: none;
    background-color: #252525;
    color: #fff;
    height: 80px;
    width: 100%;
    font-size: 1rem;


}

button {
    height: 60px;
    background-color: #fff;
    color: #333;
    border: 1px solid #c4c4c4;
    border-radius: 3px;
    font-size: 0.5rem;
    background-color: transparent;
    text-shadow: 0 1px rgba(255, 255, 255, .4);
}

button:hover {
    background-color: #eaeaea;
}

.operator {
    color: #337cac;
}

.clear {
    background-color: #f0595f;
    border-color: #b0353a;
    color: #fff;
}

.clear:hover {
    background-color: #f17377;
}

.equal-sign {
    background-color: #2e86c0;
    border-color: #337cac;
    color: #fff;
    height: 100%;
}

.equal-sign {
    background-color: #4e9ed4;
    grid-area: 2 / 4 / 6 / 5;

}

.calculator-keys {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    padding: 20px;
}